

div.login{
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.398);
  padding-block: 5rem;
  border: 1px solid white;
  padding-inline: 1rem;
  border-radius: 12px;
  position: relative;
  z-index: 2;
  margin: auto;
  text-align: center;
  height: 100vh;
}
div.login h1{
  text-align: center;
  color: white;
}

 div.login form {
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  
 div.login  label {
    margin: 8px;
  }
  
 div.login  input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-inline: 1rem;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
  }
  div.login button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s all;
    border: 1px solid transparent;
    background-color: rgb(51, 165, 26);
  }
  div.login button[type="button"] {
    margin-top: .2rem;
    background-color: #007bff;
  }
  div.login button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.login button[type="submit"] span{
    margin-inline: .5rem;
  }
  div.login button:hover {
    border: 1px solid white;
    background-color: #0056b3;
  }