*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  /* background: url("https://i.ibb.co/0cPFjjt/dylan-gillis-YJd-CZba0-TYE-unsplash.jpg") no-repeat center center/cover; */
  /* font-family: "Margarine"; */
}